.portfolio_categories{
    display:flex;
    justify-content: center;
    gap:1.5rem;
    flex-wrap:wrap;
}

.btn.cat_btn{
    text-transform: capitalize;
    transition:var(--transition);
}

.btn.cat_btn:hover{
    transform:translateY(0);
}

.portfolio_projects{
    margin-top:3rem;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:3rem;
    align-items:start;
}

.card.portfolio_project{
    animation: animation1 800ms ease-in forwards;
}



@keyframes animation1{
    from{
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.portfolio_project_image{
    width:100%;
    height:fit-content;
    min-height:7rem;
    max-height:15rem;
    background:rgb(255,199,199);
    border-radius: var(--border-radius-2);
    margin-bottom:1.5rem;
    overflow:hidden;
}

.portfolio_project p{
    margin:0.5rem 0 2rem;
}

.portfolio_project_cta{
    display:flex;
    gap:1rem;
}

.portfolio_project:hover .btn.sm{
    border-color:black;

}

@media screen and (max-width : 600px) {
    .portfolio_projects{
grid-template-columns: 1fr 1fr;
gap:2rem;
    }
}

@media screen and (max-width:600px){
    .portfolio_categories{
        gap:0.6rem;}

        .btn.cat_btn{
            padding: 0.7rem 0.8rem;

        }
        .portfolio_projects{
            grid-template-columns: 1fr;
            gap:1.5rem;
        }
    }
